* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #1b7e83;
}

/* Navegação */

header {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #1b7e83b9;
    transition: all ease 0.2s;
}

#logo {
    width: 60%;
}

li {
    display: inline-block;
    margin-right: 1.25rem;
}

a {
    text-decoration: none;
    color: #FEFEFE;
    font-weight: 200;
    transition: all ease 0.2s;    
}

a:hover {
    color: #dfdcdc;
}

#calculator-button {
    border: 2px solid #cb6ce6;
    padding: 10px;
    border-radius: 3px;
    transition: all ease 0.2s;
}

#calculator-button:hover {
    border: 2px solid #cb6ce6;
    background-color: #cb6ce6;
    color: #FFF;
}

/* Primrio bloco de conteúdo */

#first-section { 
    background-color: #d6a7e4;
    color: #f7f7f7;
    margin-top: 110px;
    display: flex;
    align-items: center;     
}

aside {
    width: 50%;
}

img {
    width: 100%;
}

article {
    width: 50%;
}



#subtitle-one {
    font-size: 80px;
    text-align: center;
    text-transform: uppercase;
    line-height: 90px;
    font-weight: 100;
}

#span-one {
    font-size: 70px;
    font-weight: 400;
}

#span-two {
    font-size: 60px;
    font-weight: 100;
}

#span-three {
    font-weight: 600;
    font-size: 95px;
}

/*Segundo Bloco de conteúdo*/

#second-section, #fourth-section { 
    background-color: #dfdcdc;
    color: #777777;
    margin-top: -5px;
    display: flex;
    align-items: center;     
}

#services {
    padding: 50px;
}

hr {
    width: 10rem;
    margin-top: 10px;
    margin-bottom: 10px;
}




#button-contact a {
    border: 3px solid #1b7e83;
    border-radius: 3px;
    padding: 12px;
    color: #1b7e83;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    transition: all ease 0.2s;
}

#button-contact a:hover {
    background-color: #1b7e83;
    color: #FFF;
}

/* Terceiro bloco de conteúdo */

#third-section { 
    background-color: #FEFEFE;
    color: #5a5a5a;
    margin-top: -5px;
    display: flex;
    align-items: center;     
}

#contacts {
    padding: 50px;
    align-items: center;
    
}

#adress {
    margin-top: 30px;
    line-height: 20px;
    font-weight: 400;
    color: #000;
}

.icon-wpp {
    width: 2.95rem;
    margin-top: 15px;
}

#third {
    background-color: #d6a7e4;
    padding: 50px;
    align-items: center;
    text-align: center;
}

#subtitle-form {
    font-weight: 300;
    color: #FAFAFA;
    margin-bottom: 2rem;
}

input {
    width: 15.8rem;
    height: 2rem;
    padding: 1rem;
    margin-right: 0.40rem;
    margin-bottom: 5px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.445);
    outline: none;
}

textarea {
    width: 32.3rem;
    margin-top: 0.30rem;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.445);
}

#form-button {
    width: 32.5rem;
    height: 2rem;
    margin-top: 0.30rem;
    border-radius: 10px;
    border: none;
}

/*Maps*/

#maps {
    height: 100%;
}

/* Seção IMC */
/* Calculadora */

.container {

}

.input-imc, #name {
    display: flex;
    align-items: center;
   
 }

  
  #result{
    display: flex;
    margin-top: 20px;
    align-items: center;
    width: 800px;
    color: #5a5a5a;
    padding: 40px;
    box-sizing: border-box;
    user-select: none;
  }

button {
    border: 3px solid #1b7e83;
    background-color: transparent;
    padding: 12px;
    color: #1b7e83;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    transition: all ease 0.2s;
}

button:hover {
    background-color: #1b7e83;
    color: #FFF;
}



/*Rodapé*/

footer {
    background-color: #818181;
}

#dev-footer {
    padding: 10px;
    margin-top: -4px;
    font-size: 13px;
    text-align: center;
    color: #FEFEFE;

}



